{% extends 'base/base.html' %}
{% load static %}
{% block title %}Upload Documents{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'sellers/css/seller_base.css' %}">
<link rel="stylesheet" href="{% static 'sellers/css/documents.css' %}">
{% endblock %}
{% block content %}
<div class="container py-5 seller-page-shell seller-documents-page">
  <h3>Submit Documents</h3>
  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Save & Continue</button>
  </form>
</div>
{% endblock %}
