{% extends 'lulumarket/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/payment_error.css' %}">
{% endblock %}

{% block title %}Payment Issue | Lulumarket{% endblock %}

{% block content %}

<section class="hero">

    <div class="container">

        <h1>
            Payment Could Not Be Completed
        </h1>

        <p>
            Your payment could not be completed.
            Please return to checkout and try again.
        </p>

        <a
            class="button"
            href="{% url 'checkout' %}"
        >
            Back to Checkout
        </a>

    </div>

</section>

{% endblock %}