{% extends 'lulumarket/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block title %}Shop | Lulumarket{% endblock %}

{% block content %}

<div class="section-head">

    <h1>

        {% if category %}
            {{ category.name }}

        {% elif subcategory %}
            {{ subcategory.name }}

        {% elif brand %}
            {{ brand.name }}

        {% elif color %}
            {{ color.name }}

        {% elif size %}
            {{ size.name }}

        {% else %}
            Shop All Products
        {% endif %}

    </h1>

</div>


<div class="grid">

    {% if page_obj %}

        {% for product in page_obj %}

            {% include 'lulumarket/_product_card.html' %}

        {% empty %}

            <p class="muted">
                No products found.
            </p>

        {% endfor %}

    {% else %}

        {% for product in products %}

            {% include 'lulumarket/_product_card.html' %}

        {% empty %}

            <p class="muted">
                No products found.
            </p>

        {% endfor %}

    {% endif %}

</div>


{% if page_obj.has_other_pages %}

    <p class="actions">

        {% if page_obj.has_previous %}

            <a
                href="?page={{ page_obj.previous_page_number }}"
            >
                Previous
            </a>

        {% endif %}


        <span>
            Page {{ page_obj.number }}
            of {{ page_obj.paginator.num_pages }}
        </span>


        {% if page_obj.has_next %}

            <a
                href="?page={{ page_obj.next_page_number }}"
            >
                Next
            </a>

        {% endif %}

    </p>

{% endif %}

{% endblock %}